* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.logo {
  padding-right: 100px; }
  .logo .logo img {
    width: 60px;
    height: auto; }

.portada-1_1 {
  height: 85vh; }

.portada-1_2 h1, .portada-1_2 h2 {
  font-size: 80px;
  font-variant: small-caps;
  font-weight: bold;
  color: whitesmoke; }

.portada-1_2 p {
  padding-bottom: 150px;
  color: whitesmoke;
  font-size: 23px;
  font-style: italic; }

.footer1 {
  height: 100vh; }

.redes1 {
  display: flex;
  justify-content: center; }
  .redes1 h4 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
    font-variant: small-caps; }
  .redes1 img {
    width: 100px;
    height: auto;
    padding-top: 100px; }

.redes2_1 {
  display: flex;
  justify-content: center; }
  .redes2_1 a {
    padding: 20px; }

.footer2_1 {
  padding-top: 80px; }

.footer2_1-1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-top: solid 1px #841617;
  border-bottom: solid 1px #841617; }
  .footer2_1-1 a {
    text-decoration: none;
    font-size: 30px;
    font-variant: small-caps;
    font-weight: lighter;
    color: #6A6353;
    margin: 30px 0px;
    flex-wrap: wrap; }

@media screen and (max-width: 768px) {
  .redes1 h4 {
    font-size: 1rem; }
  .redes1 img {
    width: 60px;
    height: auto;
    padding-top: 40px; }
  .redes2_1 img {
    width: 20px;
    height: auto; }
  .footer2_1 {
    padding-top: 40px; }
  .footer2_1-1 {
    flex-direction: column; }
  .footer2_1-1 a {
    font-size: 1rem;
    margin: 0px;
    text-align: center; } }

.origen {
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px;
  padding: 80px 50px; }
  .origen h1, .origen .portada-1_2 h2, .portada-1_2 .origen h2 {
    font-size: 80px;
    font-variant: small-caps;
    font-weight: bold;
    color: whitesmoke; }
  .origen .origen1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 150px; }
  .origen p {
    font-size: 20px;
    font-variant: none;
    font-weight: none;
    font-style: italic;
    color: whitesmoke;
    text-align: right;
    padding-right: 100px;
    padding-top: 30px; }
  .origen a {
    text-decoration: none; }

.destilacion {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 50px; }
  .destilacion .destilacion1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .destilacion h2 {
    font-size: 60px;
    font-variant: small-caps;
    font-weight: bold;
    color: whitesmoke; }
  .destilacion p {
    color: whitesmoke;
    font-size: 20px;
    font-style: italic;
    text-align: justify;
    padding-left: 80px; }
  .destilacion a {
    text-decoration: none; }

.productos {
  height: 100vh; }
  .productos h2 {
    text-align: center;
    color: #8A7D5C;
    font-size: 50px;
    font-variant: small-caps;
    font-weight: bold;
    font-style: none; }

.gin {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  gap: 25px; }
  .gin .gin-1 {
    border: none; }
    .gin .gin-1 h3 {
      font-size: 25px;
      font-variant: none;
      font-weight: bold;
      font-style: none;
      text-align: center;
      color: #841617; }
    .gin .gin-1 p {
      font-size: 15px;
      font-variant: none;
      font-weight: none;
      font-style: italic;
      text-align: justify; }
  .gin .gin-2 {
    border: none; }
    .gin .gin-2 h3 {
      font-size: 25px;
      font-variant: none;
      font-weight: bold;
      font-style: none;
      text-align: center;
      color: #841617; }
    .gin .gin-2 p {
      font-size: 15px;
      font-variant: none;
      font-weight: none;
      font-style: italic;
      text-align: justify; }
  .gin .gin-3 {
    border: none; }
    .gin .gin-3 h3 {
      font-size: 25px;
      font-variant: none;
      font-weight: bold;
      font-style: none;
      text-align: center;
      color: #841617; }
    .gin .gin-3 p {
      font-size: 15px;
      font-variant: none;
      font-weight: none;
      font-style: italic;
      text-align: justify; }

@media screen and (max-width: 768px) {
  .origen {
    padding: 10px 10px; }
    .origen .origen1 {
      display: flex;
      flex-wrap: wrap; }
    .origen h1, .origen .portada-1_2 h2, .portada-1_2 .origen h2 {
      font-size: 40px;
      text-align: center; }
    .origen p {
      font-size: 1rem;
      text-align: center; }
  .destilacion {
    padding: 10px 10px; }
    .destilacion .destilacion1 {
      display: flex;
      flex-wrap: wrap; }
    .destilacion h2 {
      font-size: 40px;
      text-align: center; }
    .destilacion p {
      font-size: 1rem;
      text-align: center; } }

.botanicos {
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px;
  padding: 200px 80px; }
  .botanicos h1, .botanicos .portada-1_2 h2, .portada-1_2 .botanicos h2 {
    font-size: 80px;
    font-variant: small-caps;
    font-weight: bold;
    color: whitesmoke;
    text-align: center; }
  .botanicos .botanicos-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .botanicos p {
    font-size: 20px;
    font-variant: none;
    font-weight: none;
    font-style: italic;
    color: whitesmoke;
    text-align: center; }

.botanicos-2 {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px; }
  .botanicos-2 .botanicos-2_1_1 p {
    font-size: 1rem;
    font-variant: none;
    font-weight: none;
    font-style: italic;
    text-align: justify; }
  .botanicos-2 .botanicos-2_2_2 p {
    font-size: 1rem;
    font-variant: none;
    font-weight: none;
    font-style: italic;
    text-align: justify; }
  .botanicos-2 .botanicos-2_3_3 p {
    font-size: 1rem;
    font-variant: none;
    font-weight: none;
    font-style: italic;
    text-align: justify; }
  .botanicos-2 h5, .botanicos-2 .cocktails-1 .martini-dry p, .cocktails-1 .martini-dry .botanicos-2 p, .botanicos-2 .cocktails-1 .martini-dry li, .cocktails-1 .martini-dry .botanicos-2 li, .botanicos-2 .cocktails-1 .gin-tonic p, .cocktails-1 .gin-tonic .botanicos-2 p, .botanicos-2 .cocktails-1 .gin-tonic li, .cocktails-1 .gin-tonic .botanicos-2 li, .botanicos-2 .cocktails-1 .negroni p, .cocktails-1 .negroni .botanicos-2 p, .botanicos-2 .cocktails-1 .negroni li, .cocktails-1 .negroni .botanicos-2 li {
    font-size: 20px;
    font-variant: none;
    font-weight: none;
    font-style: italic;
    text-align: center; }

.botanicos-3 {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px; }
  .botanicos-3 .botanicos-3_1_1 p {
    font-size: 1rem;
    font-variant: none;
    font-weight: none;
    font-style: italic;
    text-align: justify; }
  .botanicos-3 .botanicos-3_2_2 p {
    font-size: 1rem;
    font-variant: none;
    font-weight: none;
    font-style: italic;
    text-align: justify; }
  .botanicos-3 .botanicos-3_3_3 p {
    font-size: 1rem;
    font-variant: none;
    font-weight: none;
    font-style: italic;
    text-align: justify; }
  .botanicos-3 h5, .botanicos-3 .cocktails-1 .martini-dry p, .cocktails-1 .martini-dry .botanicos-3 p, .botanicos-3 .cocktails-1 .martini-dry li, .cocktails-1 .martini-dry .botanicos-3 li, .botanicos-3 .cocktails-1 .gin-tonic p, .cocktails-1 .gin-tonic .botanicos-3 p, .botanicos-3 .cocktails-1 .gin-tonic li, .cocktails-1 .gin-tonic .botanicos-3 li, .botanicos-3 .cocktails-1 .negroni p, .cocktails-1 .negroni .botanicos-3 p, .botanicos-3 .cocktails-1 .negroni li, .cocktails-1 .negroni .botanicos-3 li {
    font-size: 20px;
    font-variant: none;
    font-weight: none;
    font-style: italic;
    text-align: center; }

.sustentabilidad {
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px;
  padding: 200px 80px; }
  .sustentabilidad h1, .sustentabilidad .portada-1_2 h2, .portada-1_2 .sustentabilidad h2 {
    font-size: 80px;
    font-variant: small-caps;
    font-weight: bold;
    color: whitesmoke;
    text-align: center; }
  .sustentabilidad .sustentabilidad-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .sustentabilidad p {
    font-size: 20px;
    font-variant: none;
    font-weight: none;
    font-style: italic;
    color: whitesmoke;
    text-align: center; }

.cuidado .cuidado-1 img {
  width: 400px;
  height: auto; }

.cuidado .cuidado-2 h2 {
  font-size: 3rem;
  font-variant: small-caps;
  font-weight: none;
  font-style: none;
  color: #8A7D5C;
  padding-top: 100px; }

.cuidado .cuidado-2 p {
  font-size: 20px;
  font-variant: none;
  font-weight: none;
  font-style: italic;
  color: #8A7D5C;
  text-align: justify; }

.reciclaje .reciclaje-1 h2 {
  font-size: 3rem;
  font-variant: small-caps;
  font-weight: none;
  font-style: none;
  color: #8A7D5C;
  padding-top: 80px; }

.reciclaje .reciclaje-1 {
  padding-right: 100px; }

.reciclaje .reciclaje-1 p {
  font-size: 20px;
  font-variant: none;
  font-weight: none;
  font-style: italic;
  color: #8A7D5C;
  text-align: justify; }

.compostaje .compostaje-1 img {
  width: 450px;
  height: auto; }

.compostaje .compostaje-2 h2 {
  font-size: 3rem;
  font-variant: small-caps;
  font-weight: none;
  font-style: none;
  color: #8A7D5C;
  padding-top: 80px; }

.compostaje .compostaje-2 p {
  font-size: 20px;
  font-variant: none;
  font-weight: none;
  font-style: italic;
  color: #8A7D5C;
  text-align: justify; }

.cocktails {
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px; }
  .cocktails h1, .cocktails .portada-1_2 h2, .portada-1_2 .cocktails h2 {
    font-size: 80px;
    font-variant: small-caps;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    padding-top: 200px; }

.cocktails-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .cocktails-1 .martini-dry {
    margin: 20px 20px;
    border-color: #841617; }
    .cocktails-1 .martini-dry h5, .cocktails-1 .martini-dry p, .cocktails-1 .martini-dry li {
      color: whitesmoke;
      text-align: center; }
    .cocktails-1 .martini-dry li {
      list-style: none; }
  .cocktails-1 .gin-tonic {
    margin: 20px 20px;
    border-color: #841617; }
    .cocktails-1 .gin-tonic h5, .cocktails-1 .gin-tonic p, .cocktails-1 .gin-tonic li {
      color: whitesmoke;
      text-align: center; }
    .cocktails-1 .gin-tonic li {
      list-style: none; }
  .cocktails-1 .negroni {
    margin: 20px 20px;
    border-color: #841617; }
    .cocktails-1 .negroni h5, .cocktails-1 .negroni p, .cocktails-1 .negroni li {
      color: whitesmoke;
      text-align: center; }
    .cocktails-1 .negroni li {
      list-style: none; }

.contacto-1 {
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px; }
  .contacto-1 h1, .contacto-1 .portada-1_2 h2, .portada-1_2 .contacto-1 h2 {
    font-size: 80px;
    font-variant: small-caps;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    padding-top: 200px; }

.contacto-2 {
  text-align: center;
  padding: 50px 0px;
  color: #841617; }

.contacto-3 {
  width: 90%;
  padding-left: 10%;
  padding-bottom: 50px; }

.footer3 {
  height: 50vh; }

.redes3 {
  display: flex;
  justify-content: center; }
  .redes3 h4 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
    font-variant: small-caps; }

.redes4_1 {
  display: flex;
  justify-content: center; }
  .redes4_1 a {
    padding: 40px; }
