* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.logo {
  padding-right: 100px; }

.portada {
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px; }
  .portada h1 {
    font-size: 80px;
    font-variant: small-caps;
    font-weight: bold;
    color: whitesmoke; }
  .portada .portada1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px; }
  .portada p {
    color: whitesmoke;
    font-size: 23px;
    font-style: italic; }
  .portada a {
    text-decoration: none; }

.section1 .section1_1, .section1 .section1_2 {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section1 h2 {
  font-size: 60px;
  font-variant: small-caps;
  font-weight: bold;
  color: whitesmoke; }

.section1 p {
  color: whitesmoke;
  font-size: 20px;
  font-style: italic;
  text-align: center; }

.section1 a {
  text-decoration: none; }

.section2 .section2_1 {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section2 h3 {
  font-size: 80px;
  font-variant: small-caps;
  font-weight: bold;
  color: whitesmoke; }

.section2 p {
  color: whitesmoke;
  font-size: 23px;
  font-style: italic; }

.section2 a {
  text-decoration: none; }

.footer1 {
  height: 100vh; }

.redes1 {
  display: flex;
  justify-content: center; }
  .redes1 h4 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
    font-variant: small-caps; }
  .redes1 img {
    width: 100px;
    height: auto;
    padding-top: 70px; }

.redes2_1 {
  display: flex;
  justify-content: center; }
  .redes2_1 a {
    padding: 20px; }

.footer2_1 {
  padding-top: 70px; }

.footer2_1-1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-top: solid 1px #841617;
  border-bottom: solid 1px #841617; }
  .footer2_1-1 a {
    text-decoration: none;
    font-size: 30px;
    font-variant: small-caps;
    font-weight: lighter;
    color: #6A6353;
    margin: 30px 0px;
    flex-wrap: wrap; }

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px; }
  .portada2 p {
    font-size: 1rem; }
  h2 {
    font-size: 30px; }
  .section1 p {
    font-size: 1rem; }
  h3 {
    font-size: 30px; }
  .section2 p {
    font-size: 1rem; }
  .redes1 h4 {
    font-size: 1rem; }
  .redes1 img {
    width: 60px;
    height: auto;
    padding-top: 40px; }
  .redes2_1 img {
    width: 20px;
    height: auto; }
  .footer2_1 {
    padding-top: 40px; }
  .footer2_1-1 {
    flex-direction: column; }
  .footer2_1-1 a {
    font-size: 1rem;
    margin: 0px;
    text-align: center; } }

.origen {
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px;
  padding: 80px 50px; }
  .origen h1 {
    font-size: 80px;
    font-variant: small-caps;
    font-weight: bold;
    color: whitesmoke; }
  .origen .origen1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 150px; }
  .origen p {
    color: whitesmoke;
    font-size: 20px;
    font-style: italic;
    text-align: right;
    padding-right: 100px; }
  .origen a {
    text-decoration: none; }

.destilacion {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 50px; }
  .destilacion .destilacion1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .destilacion h2 {
    font-size: 60px;
    font-variant: small-caps;
    font-weight: bold;
    color: whitesmoke; }
  .destilacion p {
    color: whitesmoke;
    font-size: 20px;
    font-style: italic;
    text-align: justify;
    padding-left: 80px; }
  .destilacion a {
    text-decoration: none; }

.sirpipo2 {
  height: 100vh;
  padding: 0px 50px; }
  .sirpipo2 .sirpipo2_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; }
  .sirpipo2 h3 {
    font-size: 40px;
    font-variant: small-caps;
    font-weight: bold;
    font-style: none;
    color: #8A7D5C;
    text-align: left; }
  .sirpipo2 p {
    font-size: 18px;
    font-variant: none;
    font-weight: none;
    font-style: italic;
    text-align: justify;
    color: #8A7D5C;
    padding-top: 10px; }
  .sirpipo2 .sirpipo2_2, .sirpipo2 .sirpipo5 .sirpipo5_1 img, .sirpipo5 .sirpipo5_1 .sirpipo2 img, .sirpipo2 .sirpipo6 .sirpipo6_2 img, .sirpipo6 .sirpipo6_2 .sirpipo2 img {
    display: flex;
    justify-content: center; }
  .sirpipo2 .sirpipo2_2 img, .sirpipo2 .sirpipo5 .sirpipo5_1 img img, .sirpipo5 .sirpipo5_1 .sirpipo2 img img, .sirpipo2 .sirpipo6 .sirpipo6_2 img img, .sirpipo6 .sirpipo6_2 .sirpipo2 img img {
    padding-top: 10px; }

.sirpipo5 {
  height: 100vh;
  padding: 0px 50px; }
  .sirpipo5 .sirpipo5_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; }
  .sirpipo5 h3 {
    font-size: 40px;
    font-variant: small-caps;
    font-weight: bold;
    font-style: none;
    color: #8A7D5C;
    text-align: right; }
  .sirpipo5 p {
    font-size: 18px;
    font-variant: none;
    font-weight: none;
    font-style: italic;
    text-align: justify;
    color: #8A7D5C;
    padding-top: 10px; }
  .sirpipo5 .sirpipo5_1 {
    display: flex;
    justify-content: center; }

.sirpipo6 {
  height: 100vh;
  padding: 0px 50px; }
  .sirpipo6 .sirpipo6_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; }
  .sirpipo6 h3 {
    font-size: 40px;
    font-variant: small-caps;
    font-weight: bold;
    font-style: none;
    color: #8A7D5C;
    text-align: left; }
  .sirpipo6 p {
    font-size: 18px;
    font-variant: none;
    font-weight: none;
    font-style: italic;
    text-align: justify;
    color: #8A7D5C;
    padding-top: 10px; }
  .sirpipo6 .sirpipo6_2 {
    display: flex;
    justify-content: center; }
