.botanicos{
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    padding: 200px 80px;
    h1{
        font-size: 80px;
        font-variant: small-caps;
        font-weight: bold;
        color: map-get($map: $colores, $key: blanco);
        text-align: center
    }
    .botanicos-1{
        @include flex(column, center , center);
    }
    p{
        @include font(20px, none, none, italic);
        color: whitesmoke;
        text-align: center;
    }
    a{
        text-decoration: none;
    }   
}
.botanicos-2{
    height: 100vh;
    @include flex(row,center,center);
    flex-wrap: wrap;
    gap: 100px;
    .botanicos-2_1_1 p{
        @include font(1rem, none, none, italic);
        text-align: justify;
    }
    .botanicos-2_2_2 p{
        @include font(1rem, none, none, italic);
        text-align: justify;
    }
    .botanicos-2_3_3 p{
        @include font(1rem, none, none, italic);
        text-align: justify;
    }
    h5{
        @include font (20px,none,none,italic);
        text-align: center;
    }
}
.botanicos-3{
    height: 100vh;
    @include flex(row,center,center);
    flex-wrap: wrap;
    gap: 100px;
    .botanicos-3_1_1 p{
        @include font(1rem, none, none, italic);
        text-align: justify;
    }
    .botanicos-3_2_2 p{
        @include font(1rem, none, none, italic);
        text-align: justify;
    }
    .botanicos-3_3_3 p{
        @include font(1rem, none, none, italic);
        text-align: justify;
    }   
    h5{
        @include font (20px,none,none,italic);
        text-align: center;
    }
}