// Comienzo css botanicos.html
.botanicos{
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    padding: 200px 80px;
    h1{
        font-size: 80px;
        font-variant: small-caps;
        font-weight: bold;
        color: map-get($map: $colores, $key: blanco);
        text-align: center
    }
    .botanicos-1{
        @include flex(column, center , center);
    }
    p{
        @include font(20px, none, none, italic);
        color: whitesmoke;
        text-align: center;
    } 
}
.botanicos-2{
    height: 100vh;
    @include flex(row,center,center);
    flex-wrap: wrap;
    gap: 100px;
    .botanicos-2_1{
        width: 18rem;
        .botanicos-2_1_1{
            @include flex(none,center,none);
            img{
                width: 200px;
                height: auto;
                justify-self: center
            }
        }
        .botanicos-2_1_2{ 
            p{
                @include font(1rem, none, none, italic);
                text-align: justify;
            }
            h5{
                @include font (20px,none,none,italic);
                text-align: center;
            }
        }
    }    
    .botanicos-2_2{
    width: 18rem;
        .botanicos-2_2_1{
            @include flex(none,center,none);
            img{
                width: 200px;
                height: auto;
            }
        }
        .botanicos-2_2_2{ 
            p{
                @include font(1rem, none, none, italic);
                text-align: justify;
            }
            h5{
                @include font (20px,none,none,italic);
                text-align: center;
            }
        }    
    }
    .botanicos-2_3{
        width: 18rem;    
        .botanicos-2_3_1{
            @include flex(none,center,none);    
            img{
                width: 200px;
                height: auto;
            }
        }
        .botanicos-2_3_2{
            p{
                @include font(1rem, none, none, italic);
                text-align: justify;
            }
            h5{
                @include font (20px,none,none,italic);
                text-align: center;
            }
        }
    }
}
.botanicos-3{
    height: 100vh;
    @include flex(row,center,center);
    flex-wrap: wrap;
    gap: 100px;
    .botanicos-3_1{
        width: 18rem;
        .botanicos-3_1_1{
            @include flex(none,center,none);
            img{
                width: 200px;
                height: auto;
            }
        }
        .botanicos-3_1_2{ 
            p{
                @include font(1rem, none, none, italic);
                text-align: justify;
            }
            h5{
                @include font (20px,none,none,italic);
                text-align: center;
            }
        }
    }  
    .botanicos-3_2{
        width: 18rem;  
        .botanicos-3_2_1{
            @include flex(none,center,none);
            img{
                width: 200px;
                height: auto;
            }
        }
        .botanicos-3_2_2{ 
            p{
                @include font(1rem, none, none, italic);
                text-align: justify;
            }
            h5{
                @include font (20px,none,none,italic);
                text-align: center;
            }
        }
    }
    .botanicos-3_3{
        width: 18rem;
        .botanicos-3_3_1{
            @include flex(none,center,none);
            img{
                width: 200px;
                height: auto;
            }
        }
        .botanicos-3_3_2{ 
            p{
                @include font(1rem, none, none, italic);
                text-align: justify;
            }   
            h5{
                @include font (20px,none,none,italic);
                text-align: center;
            }
        }
    }
}
// Comienzo de media queries botanicos.html
@media screen and (max-width: 768px){
    .botanicos{
        height: 300px;
        padding: 10px 10px;
        .botanicos-1{
            padding: 80px 20px;
            h1{
                font-size: 30px;
            }
            p{
                font-size: 1rem;
            }
        }
    }    
    .botanicos-2{
        height: auto;
        gap: 15px;
        .botanicos-2_1{
               flex-direction: row;
               width: max-content;
               margin-top: 10px;
            .botanicos-2_1_1 img{
                width: 50px;
                height: 50px;
                align-self: center;
                padding-left: 10px;
            }
            .botanicos-2_1_2{
                p{
                    font-size: 10px;
                }
                h5{
                    font-size: 10px;
                    text-align: left;
                }
            }
        }
        .botanicos-2_2{
            flex-direction: row;
            width: max-content;
            .botanicos-2_2_1 img{
                width: 50px;
                height: 50px;
                align-self: center;
                padding-left: 10px;
            }
            .botanicos-2_2_2{
                p{
                    font-size: 10px;
                }
                h5{
                    font-size: 10px;
                    text-align: left;
                }
            }
        }
        .botanicos-2_3{
            flex-direction: row;
            width: max-content;
            .botanicos-2_3_1 img{
                width: 50px;
                height: 50px;
                align-self: center;
                padding-left: 10px;
            }
            .botanicos-2_3_2{
                p{
                    font-size: 10px;
                }
                h5{
                    font-size: 10px;
                    text-align: left;
                }
            }
        }    
    }
    .botanicos-3{
        height: auto;
        gap: 15px;
        margin-top: 15px;
        .botanicos-3_1{
               flex-direction: row;
               width: max-content;
            .botanicos-3_1_1 img{
                width: 50px;
                height: 50px;
                align-self: center;
                padding-left: 10px;
            }
            .botanicos-3_1_2{
                p{
                    font-size: 10px;
                }
                h5{
                    font-size: 10px;
                    text-align: left;
                }
            }
        }
        .botanicos-3_2{
            flex-direction: row;
            width: max-content;
            .botanicos-3_2_1 img{
                width: 50px;
                height: 50px;
                align-self: center;
                padding-left: 10px;
            }
            .botanicos-3_2_2{
                p{
                    font-size: 10px;
                }
                h5{
                    font-size: 10px;
                    text-align: left;
                }
            }
        }
        .botanicos-3_3{
            flex-direction: row;
            width: max-content;
            margin-bottom: 20px;
            .botanicos-3_3_1 img{
                width: 50px;
                height: 50px;
                align-self: center;
                padding-left: 10px;
            }
            .botanicos-3_3_2{
                p{
                    font-size: 10px;
                }
                h5{
                    font-size: 10px;
                    text-align: left;
                }
            }
        }    
    }        
}
@media screen and (max-width: 320px){
    .botanicos{
        height: max-content;
        .botanicos-1{
            padding: 20px 20px;
            h1{
                font-size: 20px;
            }
            p{
                font-size: 8px;
            }
        }
    }    
    .botanicos-2{
        .botanicos-2_1{
               flex-direction: column;
            .botanicos-2_1_1 img{
                padding-left: 0px;
            }
            .botanicos-2_1_2{
                h5{
                    text-align: center;
                }
            }
        }
        .botanicos-2_2{
            flex-direction: column;
            .botanicos-2_2_1 img{
                padding-left: 0px;
            }
            .botanicos-2_2_2{
                h5{
                    text-align: center;
                }
            }
        }
        .botanicos-2_3{
            flex-direction: column;
            .botanicos-2_3_1 img{
                padding-left: 0px;
            }
            .botanicos-2_3_2{
                h5{
                    text-align: center;
                }
            }
        }    
    }
    .botanicos-3{
        margin-top: 15px;
        .botanicos-3_1{
               flex-direction: column;
            .botanicos-3_1_1 img{
                padding-left: 0px;
            }
            .botanicos-3_1_2{
                h5{
                    text-align: center;
                }
            }
        }
        .botanicos-3_2{
            flex-direction: column;
            .botanicos-3_2_1 img{
                padding-left: 0px;
            }
            .botanicos-3_2_2{
                h5{
                    text-align: center;
                }
            }
        }
        .botanicos-3_3{
            flex-direction: column;
            .botanicos-3_3_1 img{
                padding-left: 0px;
            }
            .botanicos-3_3_2{
                h5{
                    text-align: center;
                }
            }
        }    
    }        
}