// comienzo css cocktails.html
.cocktails{
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    h1{
        font-size: 80px;
        font-variant: small-caps;
        font-weight: bold;
        color: map-get($map: $colores, $key: blanco);
        text-align: center;
        padding-top: 200px
    }
}
.cocktails-1{
    @include flex(row,space-around,center);
    height: 100vh;
    .martini-dry{
        margin: 20px 20px;
        border: none;
        box-shadow: 0px 0px 5px 1px gray;
        width: 20rem;
        height: auto;
        transition: height 1s, width 1s;
        h4{
            color: map-get($map: $colores, $key: rojo);
            text-align: center;
            font-size: 20px;
            font-variant: small-caps;
        }
        h5{
            text-align: center;
            font-size: 1rem
        }
        p{
            @extend h5;
        }
        li{
            @extend h5;
            list-style: none;
        }
        .martini-dry-1{
            display: flex;
            justify-content: center;
            img{
                width: 250px;
                height: auto;
            }
        }
    }
    .martini-dry:hover{
        height: 40rem; width: 30rem;
    }
    .gin-tonic{
        margin: 20px 20px;
        border: none;
        box-shadow: 0px 0px 5px 1px gray;
        width: 20rem;
        transition: height 1s, width 1s;
        h4{
            color: map-get($map: $colores, $key: rojo);
            text-align: center;
            font-size: 20px;
            font-variant: small-caps;
        }
        h5{
            font-size: 1rem;
            text-align: center;
        }
        p{
            @extend h5;
        }
        li{
            @extend h5;
            list-style: none;
        }
        .gin-tonic-1{
            display: flex;
            justify-content: center;
            img{
                width: 250px;
                height: auto;
            }
        }
    }
    .gin-tonic:hover{
        height: 40rem; width: 30rem;
    }
    .negroni{
        margin: 20px 20px;
        border: none;
        box-shadow: 0px 0px 5px 1px gray;
        width: 20rem;
        transition: height 1s, width 1s;
        h4{
            color: map-get($map: $colores, $key: rojo);
            text-align: center;
            font-size: 20px;
            font-variant: small-caps;
        }
        h5{
            font-size: 1rem;
            text-align: center;
        }
        p{
            @extend h5;
        }
        li{
            @extend h5;
            list-style: none;
        }
        .negroni-1{
            display: flex;
            justify-content: center;
            img{
                width: 250px;
                height: auto;
            }
        }
    }
    .negroni:hover{
        height: 40rem; width: 30rem;
    }
}
// Comienzo de media queries cocktails.html
@media screen and (max-width: 768px){
    .cocktails{
        height: 300px;
        padding: 10px 10px;
        h1{
            font-size: 30px;
            padding-top: 60px;
        }
    }
    .cocktails-1{
        flex-direction: column;
        height: auto;
        .martini-dry{
            justify-content: center;
            margin: 10px 0px;
            width: 25rem;
            .martini-dry-1 img{
               width: 200px;
           }
        }
        .gin-tonic{
            justify-content: center;
            margin: 10px 0px;
            width: 25rem;
            .gin-tonic-1 img{
               width: 200px;
           }
        }
        .negroni{
            justify-content: center;
            margin: 10px 0px;
            width: 25rem;
            .negroni-1 img{
               width: 200px;
           }
        }
    }    
}
@media screen and (max-width: 480px){
    .cocktails{
        height: 250px;
    }
    .cocktails-1{
        .martini-dry{
            width: 20rem;
            .martini-dry-1 img{
               width: 150px;
           }
        }
        .gin-tonic{
            width: 20rem;
            .gin-tonic-1 img{
               width: 150px;
           }
        }
        .negroni{
            width: 20rem;
            margin-bottom: 20px;
            .negroni-1 img{
               width: 150px;
           }
        }
    } 
}
@media screen and (max-width: 320px){
    .cocktails{
        height: 150px;
        h1{
            font-size: 20px;
            padding-top: 30px;
        }
    }
    .cocktails-1{
        margin-bottom: 20px;
        .martini-dry{
            width: 10rem;
            h5{
                font-size: 10px;
            }
            p{
                font-size: 10px;
            }
            li{
                font-size: 10px;
            }
            .martini-dry-1 img{
               width: 100px;
           }
        }
        .gin-tonic{
            width: 10rem;
            h5{
                font-size: 10px;
            }
            p{
                font-size: 10px;
            }
            li{
                font-size: 10px;
            }
            .gin-tonic-1 img{
               width: 100px;
           }
        }
        .negroni{
            width: 10rem;
            h5{
                font-size: 10px;
            }
            p{
                font-size: 10px;
            }
            li{
                font-size: 10px;
            }
            .negroni-1 img{
               width: 100px;
           }
        }
    }    
}

