.cocktails{
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    h1{
        font-size: 80px;
        font-variant: small-caps;
        font-weight: bold;
        color: map-get($map: $colores, $key: blanco);
        text-align: center;
        padding-top: 200px
    }
}
.cocktails-1{
    @include flex(row,space-around,center);
    height: 100vh;
    .martini-dry{
        margin: 20px 20px;
        border: none;
        box-shadow: 0px 0px 5px 1px gray;
        
        h5{
            color: map-get($map: $colores, $key: rojo);
            text-align: center;
        }
        p{
            @extend h5;
        }
        li{
            @extend h5;
            list-style: none;
        }
        .martini-dry-1{
            display: flex;
            justify-content: center;
            img{
                width: 250px;
                height: auto;
            }
        }
    }
    .gin-tonic{
        margin: 20px 20px;
        border: none;
        box-shadow: 0px 0px 5px 1px gray;
        h5{
            color: map-get($map: $colores, $key: rojo);
            text-align: center;
        }
        p{
            @extend h5;
        }
        li{
            @extend h5;
            list-style: none;
        }
        .gin-tonic-1{
            display: flex;
            justify-content: center;
            img{
                width: 250px;
                height: auto;
            }
        }
    }
    .negroni{
        margin: 20px 20px;
        border: none;
        box-shadow: 0px 0px 5px 1px gray;
        h5{
            color: map-get($map: $colores, $key: rojo);
            text-align: center;
        }
        p{
            @extend h5;
        }
        li{
            @extend h5;
            list-style: none;
        }
        .negroni-1{
            display: flex;
            justify-content: center;
            img{
                width: 250px;
                height: auto;
            }
        }
    }
}
