.contacto-1{
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    h1{
        font-size: 80px;
        font-variant: small-caps;
        font-weight: bold;
        color: map-get($map: $colores, $key: blanco);
        text-align: center;
        padding-top: 200px
    }
}
.contacto-2{
    text-align: center;
    padding: 50px 0px;
    color: map-get($map: $colores, $key: rojo);
}
.contacto-3{
    width: 90%;
    padding-left: 10%;
    padding-bottom: 50px;
}
.footer-3{
    height: 50vh;
}
.redes-3{
    display: flex;
    justify-content: center;
    h4{
        display: flex;
        justify-content: center;
        padding-top: 20px;
        font-size: 20px;
        font-variant: small-caps;
    }
}
    .redes-4_1{
        display: flex;
        justify-content: center;
            a{
             padding: 40px;
            }
}