$colores: (blanco: whitesmoke, dorado: #8A7D5C, rojo: #841617);

@mixin flex($dir,$just,$ali) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $ali;
}
@mixin font ($size, $var, $weight, $style){
    font-size: $size;
    font-variant: $var;
    font-weight: $weight;
    font-style: $style;
}
.origen{
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    padding: 80px 50px;
    h1{
        font-size: 80px;
        font-variant: small-caps;
        font-weight: bold;
        color: map-get($map: $colores, $key: blanco);
    }
    .origen1{
        @include flex(row-reverse, center , center);
        margin-top: 150px;
    }
    p{
        @include font(20px, none, none, italic);
        color: whitesmoke;
        text-align: right;
        padding-right: 100px;
        padding-top: 30px;
    }
    a{
        text-decoration: none;
    }   
}
.destilacion{
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 5px;
        @include flex(column, center , center);
        padding: 0px 50px;
        .destilacion1{
            @include flex(row, center , center);
        }
        h2{
        font-size: 60px;
        font-variant: small-caps;
        font-weight: bold;
        color: map-get($map: $colores, $key:blanco);
    }
    p{
        color: whitesmoke;
        font-size: 20px;
        font-style: italic;
        text-align: justify;
        padding-left: 80px;
    }
    a{
        text-decoration: none;
    }    
}
.productos{
    height: 100vh;
    h2{
        text-align: center;
        color: map-get($map: $colores, $key: rojo);
        @include font(50px, small-caps, bold, none);
        padding: 20px 0px;
    }
    .gin{
    @include flex(none, center , center);
    gap: 40px;
    .gin-1{
        border: none;
        width: 20rem;
        p{
            @include font(1rem, none, none, italic);
            text-align: justify;
        }
        .gin-1_1{
            display: flex;
            justify-content: center;
            img{
                width: 300px;
                height: auto;
                
            }
        }
    }
    .gin-2{
        border: none;
        width: 20rem;
        p{
            @include font(1rem, none, none, italic);
            text-align: justify;
        }
        .gin-2_2{
            display: flex;
            justify-content: center;
            img{
                width: 300px;
                height: auto;  
            }
        }
    }
    .gin-3{
        border: none;
        width: 20rem;
        p{
            @include font(1rem, none, none, italic);
            text-align: justify;
        }
        .gin-3_3{
            display: flex;
            justify-content: center;
            img{
                width: 300px;
                height: auto;  
            }
        }
    }
    }
}
@media screen and (max-width: 768px){
    .origen{
        height: auto;
        padding: 10px 10px;
      .origen-1{
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px;
        justify-content: center;
      }  
      h1{
          font-size: 30px;
          text-align: center;
          padding-top: 20px;
      }
      p{
          font-size: 1rem;
          text-align: center;
          padding: 0px 20px;
      }
}  
    .destilacion{
        padding: 10px 10px;
        height: auto;
      .destilacion1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }  
      h2{
        font-size: 30px;
        padding-top: 20px;
      }
      p{
        font-size: 1rem;
        text-align: center;
        padding: 0px 20px;
      }
    }
    .productos{
        h2{
            font-size: 20px;
        }
        .gin{
            display: flex;
            flex-wrap: wrap;
            height: auto;
            gap: 20px;
            .gin-1{
                width: 20rem;
                p{
                    font-size: 10px;
                }
                .gin-1_1 img{
                    width: 100px;
                    height: auto;
                }
            }
            .gin-2{
                width: 20rem;
                p{
                    font-size: 10px;
                }
                .gin-2_2 img{
                    width: 100px;
                    height: auto;
                }
            }     
            .gin-3{
                width: 20rem;
                p{
                    font-size: 10px;
                }
                .gin-3_3 img{
                    width: 100px;
                    height: auto;
                }
            }                
        }
    }
}
@media screen and (max-width: 320px){
    .origen{
        height: auto;
        padding: 10px 10px;
      .origen-1{
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px;
        justify-content: center;
      }  
      h1{
          font-size: 20px;
          text-align: center;
          padding-top: 20px;
      }
      p{
          font-size: 10px;
          text-align: center;
          padding: 0px 20px;
      }
}  
    .destilacion{
        padding: 10px 10px;
        height: auto;
      .destilacion1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }  
      h2{
        font-size: 20px;
        padding-top: 20px;
      }
      p{
        font-size: 10px;
        text-align: center;
        padding: 0px 20px;
      }
    }
    .productos{
        h2{
            font-size: 20px;
        }
        .gin{
            display: flex;
            flex-wrap: wrap;
            height: auto;
            gap: 5px;
            .gin-1{
                width: 20rem;
                p{
                    font-size: 10px;
                }
                .gin-1_1 img{
                    width: 70px;
                    height: auto;
                }
            }
            .gin-2{
                width: 20rem;
                p{
                    font-size: 10px;
                }
                .gin-2_2 img{
                    width: 70px;
                    height: auto;
                }
            }     
            .gin-3{
                width: 20rem;
                p{
                    font-size: 10px;
                }
                .gin-3_3 img{
                    width: 70px;
                    height: auto;
                }
            }                
        }
    }
}      